
		body {
			margin: 0;
			padding: 0;
			background: linear-gradient(to bottom right, #ff355e, #7d26cd);
            background-size: 100% 100%;
            background-repeat: no-repeat;
			font-family: sans-serif;
			color: white;
		}

		.container {
			width: 100vw;
			height: 100vw;
			margin: 0 auto;
			padding: 50px;
			text-align: center;
		}

		h1 {
			font-size: 4rem;
			text-align: center;
			align-content: center;
			margin-bottom: 20px;
		}

		p {
			font-size: 2rem;
			line-height: 1.5;
		}

		@media (max-width: 600px) {
			h1 {
				font-size: 3rem;
			}
			p {
				font-size: 1.5rem;
			}
		}